<!doctype html>
<html lang="ko">
        <!-- static을 적용하려면 필수로 명시해야함 -->
        {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>설문 페이지</title>
    <link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
</head>
<body>
    <div id="container">
        <section id="poll_list">
    <h1>설문 투표 페이지</h1>
    
    <!-- question_list가 있으면 -->
    {% if question_list %}

    <ul>
        {% for question in question_list %}
        <li>
            <a href="{% url 'poll:detail' question.id %}">
            {{ question.question_text }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>설문이 없습니다.</p>
    {% endif %}
    <img src="{% static 'poll/images/vote.png' %}" alt="투표">
        </form>
    </section>
</body>
</html>